extends app
block card
    section(class=`flashcards`)
        .card(class=`card-${side}`)
            .card-header
            h1.card-title= side
            #content
                h2= text
                if hint
                    p.hint
                        i= hint
                #card-flip-wrap
                    a(href=`${id}?side=${sideToShow}`)
                        img.card-flip(src='/static/img/flip.svg')
                .card-next
                    a(href='/cards')
                        img(src='/static/img/next.svg')

//script(src='static/js/app.js')    'supplies needed js file for client side' 

//Use code below to implement display hint on button click       
//- <div id="content">
//-   <h2>What is one way a website can store data in a user's browser?</h2>
//-   <button>Show hint</button>
//-   <p class="hint" style="display: none;"><i>They are delicious with milk</i></p>
//- </div>
       
            

   
    
